@font-face {
  font-family: NM;
  src: url(./NeueMachina-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NM;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
}

#page1,
#page2,
#page3 {
  height: 100%;
  width: 100%;
  padding: 5vw 0;
}

#move {
  background-color: #e2fb4a;
  display: flex;
  padding: 3vw 0;
  overflow: hidden;
}

#marque {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0.8vw 1vw;
  transform: translateX(-100%);
}

#marque img {
  height: 2.3vw;
}

#marque h1 {
  font-size: 2vw;
}
